*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  background-color: #fbfbfb;
  box-sizing: border-box;
  font-size: 62.5%;
  direction: rtl;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
}
.container{
  width: 90%;
  margin: auto;
}
.skeleton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

