*,
*::after,
*::before {
  direction: rtl;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  background-color: #fbfbfb;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
}
.container{
  width: 90%;
  margin: auto;
}
